.home {
  background-color: #333;
  background-size: cover;

}
.welcome {
  color: #fff;
  font-size: 32px;
  text-align: center;
  padding: 100px;

}
.box {
  display: flex;
  background-color: #fff;
  position: relative;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  animation-name: logo;
  animation-duration: 5s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}

@keyframes logo {
  0% {width: 10px; height: 10px; background-color: #fff; border-radius: 50% 50% 50% 50%;}
  20% {width: 80px; height: 80px; background-color: #E6E6E9; border-radius: 0% 50% 50% 50%;}
  40% {width: 160px; height: 160px; background-color: #66666E; border-radius: 50% 0% 50% 50%;}
  60% {width: 240px; height: 240px; background-color: #6B8F71; border-radius: 50% 50% 0% 50%;}
  80% {width: 320px; height: 320px; background-color: #AFD5AA; border-radius: 50% 50% 50% 0%;}
  100% {width: 400px; height: 400px; background-color: #912F40; border-radius: 50% 50% 50% 50%;}
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.circle-item {
  position: relative;
  -webkit-backface-visibility: hidden;
  width: 80px;
  max-width: 100%;
  margin: 100px auto;
  padding-bottom: 100px;
}

.circle-box-front,
.circle-box-back {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  min-height: 80px;
  -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.circle-box-front {
  background-color: #912F40;
  vertical-align: center;
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.circle-box:hover .circle-box-front {
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.circle-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;

  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.circle-box:hover .circle-box-back {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.circle-box .inside {
  position: absolute;
  left: 0;
  width: 100%;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;


  transform: translateY(-50%) translateZ(60px) scale(.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
  top: 50%;
}
.inside{
  font-family: 'Arizonia', cursive;
  font-size: 50px;
  height: 80px;
}

.circle-box-back img {
  height: 50px;
  margin-top: 15px;
}
