<div class="form-new-mesure">
  <%= simple_form_for [@dessert, @mesure] do |f| %>
    <%= f.input :quantity, input_html: { class: "quantity" }, placeholder: "Quantity" %>
    <%= f.association :ingredient, input_html: { class: "ingredient-select" }, prompt: "Select ingredient" %>
    <%= f.button :submit, "Add", class: "btn btn-mesure" %>
  <% end %>
</div>
