<section class="home">
  <div class="container">
    <div class="welcome">
      <h1>Welcome to BeBessiere</h1>
    </div>
    <div class="circle-item">
      <div class="circle-box">
        <div class="circle-box-front text-center">
          <div class="inside color-white">
            B
          </div>
        </div>
        <div class="circle-box-back text-center" >
          <%= image_tag 'favicon.png'%>
        </div>
      </div>
    </div>
    <div class="box">
    </div>
  </div>
</section>


