.navbar-sample {
  position: relative;
  display:flex;

  background: #F0F2EF;
  height: 100px;
}
.navbar-brand {
  position: absolute;
  left: 50%;
  right: 50%;
  font-family: 'Arizonia', cursive;
  font-size: 50px;
  border-radius: 50%;
  border: solid 3px #912F40;
  background-color: #912F40;
  color: #F0F2EF;
  width: 80px;
  height: 80px;
  text-align: center;
}
.navbar-brand:hover {
  background-color: #F0F2EF;
  color: #912F40;
}
@media (min-width: 992px){
  .navbar-expand-lg {
      flex-flow: row nowrap;
      justify-content: flex-end;
  }
}
.navbar-sample .navbar-collapse {
  flex-grow: 0 !important;
}
.mr-auto {
  margin-right: auto;
  align-items: center;
}
.nav-link {
  color: #40434E;
}
.nav-link:hover {
  font-weight: bold;
  color: #912F40;
}
